.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 300px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 10px;
}

.card.success {
  background-color: #d4edda;
}

.btn {
  display: inline-block;
  margin: 5px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.btn-pending {
  background-color: #f0ad4e;
  color: white;
}

.btn-reported {
  background-color: #5cb85c;
  color: white;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
}
.accidents-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.btn, .leaflet-container {
  pointer-events: auto;
}


.emergency-form {
    font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  padding: 30px;
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 500px;
  text-align: left;
  border-top: 5px solid #d9534f;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}
.btn-form{
    background-color: #28a745;
    color: white;
    display: inline-block;
  margin: 5px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}